@CHARSET "windows-1256";

body{
	direction: rtl;
	
	
	
	
	}
.info, .success, .warning, .error, .validation {
border: 1px solid;
margin: 10px 0px;
padding:15px 10px 15px 50px;
background-repeat: no-repeat;
background-position: 10px center;
}
.error {margin:3px auto;
color: #D8000C;
width:310px;
background-color: #fff;
background-image: url("../images/error.png");
	border-radius: 5px;
-moz-border-radius: 5px;

}

.success {margin:3px auto;

color: #4F8A10;
	border-radius: 5px;
-moz-border-radius: 5px;
width:300px;
background-color: #fff;
background-image:url("../../images/success.png");
}

	
	