@charset "utf-8";
/* CSS Document */

.tit {
	font-family: "Simplified Arabic", "Simplified Arabic";
	font-size: 24px;
	line-height: 22px;
	font-style: normal;
	font-weight: bold;
}
.titen {
	font-family: "Simplified Arabic", "Simplified Arabic";
	font-size: 20px;
	line-height: 22px;
	font-style: normal;
	font-weight: bold;
}
.tit_sub {
	font-family: Simplified Arabic, Geneva, sans-serif;
	font-size: 18px;
	line-height: 16px;
}

.tit_sub2 {
	font-family: Simplified Arabic, Geneva, sans-serif;
	font-size: 18px;
	line-height: 16px;
}

.tab{
	
	
	}
	
#hor
{
	width: 200px;
	height: 1px;
	position: relative;
	top: 5px;
	left: 5px;
	right: 0px;
}
#hor2
{
	width: 640px;
	height: 1px;
	position: relative;
	top: 5px;
	left: 5px;
	right: 0px;
}
#hor3
{
	width: 780px;
	height: 1px;
	position: relative;
	top: 5px;
	left: 5px;
	right: 0px;
}
#hor4
{
	width: 150px;
	height: 1px;
	position: relative;
	top: 5px;
	left: 5px;
	right: 0px;
}
.hor5
{
	font-size: 20px;
	width: 150px;
	height: 1px;
	position: relative;
	top: 5px;
	left: 5px;
	right: 0px;
}
#hor6
{
	width: 350px;
	height: 1px;
	position: relative;
	top: 5px;
	left: 5px;
	right: 0px;
}
	.title_txt {
	font-family: Simplified Arabic, Geneva, sans-serif;
	font-size: 22px;
	Font-Weight: bold;
	padding-right: 50px;
	padding-top: 30px;
}

	.number_txt {
	font-family: Simplified Arabic, Geneva, sans-serif;
	font-size: 22px;
	width: 200px;
	padding-right: 60px;
	padding-top: 39px;	
	
	}
	.cheque_txt {
	font-family: Simplified Arabic, Geneva, sans-serif;
	font-size: 22px;
	width: 100px;
	padding-right: 40px;
	padding-top: 5px;
	}
	.cheque_txt1 {
	font-family: Simplified Arabic, Geneva, sans-serif;
	font-size: 22px;
	width: 100px;
	padding-right: 40px;
	padding-top: 20px;
	}
	.cheque_txt2 {
	font-family: Simplified Arabic, Geneva, sans-serif;
	font-size: 22px;
	width: 100px;
	padding-right: 40px;
	padding-top: 10px;
	}
	.name_txt1 {
	font-family: Simplified Arabic, Geneva, sans-serif;
	font-size: 22px;
	width: 600px;
	padding-right: 80px;
	padding-bottom: 11px;
	
	}
	.name_txt {
	font-family: Arabic transparent, Geneva, sans-serif;
	font-size: 22px;
	width: 600px;
	padding-right: 10px;
	padding-bottom: 5px;
	
	}
	.name_txt2 {
	font-family: Simplified Arabic, Geneva, sans-serif;
	font-size: 22px;
	width: 750px;
	padding-right: 10px;
	padding-bottom: 30px;
	}
	.reciver_txt {
	font-family: Simplified Arabic, Geneva, sans-serif;
	font-size: 22px;
	width: 200px;
	padding-bottom: 10px;
	padding-left: 10px;
	}
	
	
	